{% extends "base.html" %}
{% block title %}{{ page.title }} | Israel Belchi{% endblock %}
{% block content %}
<main>
    <div class="content-wrapper">
        <section class="profile-section">
            <div class="profile-img-container">
                <img src="/assets/portrait.png" alt="Fotografia de perfil d'Israel Belchi">
            </div>
            <a href="/blog/index.hmtl" class="terminal-link back-link">[\←]</a>
        </section>
        <section class="bubble-section inner-section blog-post">
            <h1 class="post-title">{{ page.title }}</h1>
            <time class="entry-date">{{ page.date | date(format="%Y·%m·%d") }}</time>
            <div class="post-content">
                {{ page.content | safe }}
            </div>
        </section>
    </div>
</main>
{% endblock %}